body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
   
}


.Container {
    background-color: #ffffff;
    width: 50%;
    height: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;   
    max-width: 790px;
    min-width: 790px;

}

img {
    width: 80px;
    border-radius: 115% 115%;
    margin-left: 10%;
    margin-top: 10%;
    
}

.item1 {
    background: #19304f;
    color: #ffffff;
    width: 27%;
    margin-left: 75.1%;
    margin-top: -995px;
    height: 1050.7px;    

}

h1{
    font-size: 140%;
    margin-left: 25%;
    margin-top: -11%;
    color: #19304f;
    
}

h3 {
    font-size: 100% ;
    margin-left: 26%;
    margin-top: -1%;
    color: #19304f;
    opacity: 0.7;
}

h5 {
    margin-left: 8% ;
    font-size: 120%;
    
}

.contatos {
    font-size: 80%;
    margin-left: 8%;
    margin-top: -7%;
    line-height: 15px;
    opacity: 0.7;
}

.item2 {
    margin-left: 10%;
    font-size: 150%;
}

.item3 {
    margin-left: 30%;
    margin-top: -15%;
    font-size: 160%;
}

.item4 {
    margin-left: 8%;
    margin-top: 6%;
}

.paragrafo {
    font-size: 90%;
    margin-left: 7%;
    text-decoration: underline #ffffff;
    color: rgb(209, 208, 208);   
}

h2 {
    margin: 36px;;
    color: #19304f;
    margin-top: -0.2px;
    
}

.perfil {
    color: #222222;
    opacity: 0.7;
    
    
}

.index {
    
    color: #222222;
    opacity: 0.7;
    margin-left: 6%;
    margin-top: -22px;
} 
  
  .link2 {
      color: #ffffff;
  }


  h1, h2, h3, h5, .item4 {
    font-family: 'Roboto';
    
  }

  .item5 {
      margin:2%;
      margin-top: -22px;
  }
  
 
  .link {
      color: blueviolet
  }

  h2 {
      font-weight: 400;
  }

  h1, h3, h5, .item4 {
      font-weight: 300;
  }
  
  .perfil, .index, .paragrafo, .contatos {
      font-family: 'Roboto';

  }
footer {
    margin-left: 200px;
    margin-top: -23px;
    font-family: 'Roboto';
}
 
  
  